In [1]:
import pandas as pd
import numpy as np

from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

# Logistic Regression
from sklearn.linear_model import LogisticRegression
# XGBoost
from xgboost import XGBClassifier
# multilayer perceptron
from sklearn.neural_network import MLPClassifier

In [2]:
def load_data(data):
    """"""
    data_df = pd.read_csv(data,sep =";")
    #The duration column had to be dropped as adviced in the data description
    data_df.drop('duration',axis=1,inplace=True)
    #for the pdays column,we set the 999 to 0 to indicate no previous contact
    data_df.pdays = data_df.pdays.replace({999: 0})
    #having all the basic categories in one sub column of basic
    data_df.education = data_df.education.replace({"basic.4y":"basic",
                                              "basic.6y":"basic",
                                               "basic.9y":"basic"})
    print("loaded succsefuly")
    return data_df

In [3]:
data=load_data("bank-additional-full.csv")

loaded succsefuly

In [4]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic,no,no,no,telephone,may,mon,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic,no,no,no,telephone,may,mon,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
class Preprocesses:
    
    def __init__(self,data_df):
        self.data_df = data_df
        
        
    def outlier_treatment(self):
        for i in self.data_df.columns:
            if self.data_df.dtypes[i] == (np.int64 or np.float64):
                Q1 = self.data_df[i].quantile(0.25)
                Q3 = self.data_df[i].quantile(0.75)
                IQR = Q3 - Q1
                lower_range = Q1 -(1.5 * IQR)
                upper_range = Q3 + (1.5 * IQR)

                print(i)

    def __iter__(self):
        '''Generator function.'''
        for i in self.data_df:
            yield i
    """    
    def standardizer():
        scale =StandardScaler()
        for i in numeric_col:
            data_df[i] = scale.fit_transform(data_df[[i]])
        return standard_df
    
    def encoder():
        data_encoded = pd.get_dummies(data_df,columns = categorical_col.drop('y',axis=1).columns)
        return encoded_df"""

In [6]:
pre = Preprocesses(data)

In [7]:
pre.outlier_treatment()

age
campaign
pdays
previous

In [8]:
class Model:
    def __init__(self,datafile,model_name=None):
        self.df = pd.read_csv(datafile)
        if model_name == 'lgr':
            self.lgr = LogisticRgression()
        if model_name == 'xgb':
            self.xgb = XGBClassifier()
        if model_name == 'mlp':
            self.mlp = MLPClassifier()